{% extends 'base.html' %}


{% block content %}

<div class="container-fluid mb-4 text-center">
    <h1 style="font-size: 3em;">
        <strong>
            <!-- Welcome to the
            <br> -->
            <span class="bg-success rounded-pill p-2">Simplex Printer</span>
            <br>
            PDF optimisation for printing
        </strong>
    </h1>
</div>

<div class="container-fluid bg-dark rounded-5 p-4" style="max-width: 80%;">
    <div class="container-fluid d-flex flex-column align-items-center justify-content-center">
        <div class="row">
            <!-- <div class="col-12 text-center">
                <i class="bi bi-printer text-success" style="font-size: 7em;"></i>
            </div> -->
            <div class="col-12 text-center mb-3">
                <form action="/simplex" method="post" class="do-simplex">
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-12">
                            <h5>
                                How many <strong>pages</strong> of your <strong>pdf</strong> do you want on a <strong>single page</strong>?
                            </h5>
                        </div>
                        <div class="col-12 p-3 d-flex justify-content-center">

                            <div>
                                <input type="radio" class="btn-check" name="page_mode" id="1-page-mode" autocomplete="off" value="1" checked>
                            <label class="btn btn-outline-success rounded-start-pill" for="1-page-mode">
                                1 per page
                            </label>
                            </div>

                            <div>
                                <input type="radio" class="btn-check" name="page_mode" id="2-page-mode" autocomplete="off" value="2">
                            <label class="btn btn-outline-success rounded-start-0 rounded-end-0" for="2-page-mode">
                                2 per page
                            </label>
                            </div>

                            <div>
                                <input type="radio" class="btn-check" name="page_mode" id="4-page-mode" autocomplete="off" value="4">
                            <label class="btn btn-outline-success rounded-end-pill" for="4-page-mode">
                                4 per page
                            </label>
                            </div>

                        </div>
                        <hr>
                        <div class="col-12">
                            <h5>
                                Select the <strong>book form</strong> you want.
                                <div class="text-secondary">
                                    <small>
                                        <strong class="text-success">Booklet: </strong>alternates the pages.
                                    </small>
                                    <br>
                                    <small>
                                        <strong class="text-success">Continuous: </strong>arrange the pages from start to end.
                                    </small>
                                </div>
                            </h5>
                        </div>
                        <div class="col-12 p-3 d-flex justify-content-center">

                            <div>
                                <input type="radio" class="btn-check" name="book_form" id="booklet_form" autocomplete="off" value="booklet" checked>
                            <label class="btn btn-outline-success rounded-start-pill" for="booklet_form">
                                Booklet
                            </label>
                            </div>

                            <div>
                                <input type="radio" class="btn-check" name="book_form" id="continuous_form" autocomplete="off" value="continuous">
                            <label class="btn btn-outline-success rounded-end-pill" for="continuous_form">
                                Continuous
                            </label>
                            </div>

                        </div>
                       

                        <hr>
                        <div class="col-12">
                            <h5>
                                Select the <strong>bind mode</strong> you want.
                                <div class="text-secondary">
                                    <small>
                                        <strong class="text-success">Left bind: </strong>starts reading from left.
                                    </small>
                                    <br>
                                    <small>
                                        <strong class="text-success">Right bind: </strong>starts reading from right.
                                    </small>
                                </div>
                            </h5>
                        </div>
                        <div class="col-12 p-3 d-flex justify-content-center">

                            <div>
                                <input type="radio" class="btn-check" name="bind_mode" id="left-bind" autocomplete="off" value="left" checked>
                            <label class="btn btn-outline-success rounded-start-pill" for="left-bind">
                                Left Bind
                            </label>
                            </div>

                            <div>
                                <input type="radio" class="btn-check" name="bind_mode" id="right-bind" autocomplete="off" value="right">
                            <label class="btn btn-outline-success rounded-end-pill" for="right-bind">
                                Right Bind
                            </label>
                            </div>

                        </div>
                       

                        <hr>

                        <div class="col-12 uploader">
                            <form action="" class="uploader" enctype="multipart/form-data">
                                <div class="input-group bg-dark">
                                    <input type="file" class="form-control uploader" id="inputGroupFile" aria-describedby="inputgroupfileaddon" aria-label="Upload">
                                    <button class="btn btn-success uploader" id="inputgroupfileaddon">Upload</button>
                                </div>
                            </form>
                        </div>
                        <small class="file-info mt-2"></small>
                    </div>

                    
                </form>

            </div>
            <div class="col-12 text-center">
                <p style="font-size: x-large;">
                    With your uploaded pdf
                </p>
                <div id="uploaded-file">

                </div>
            </div>
            <div class="col-12 text-center">
                <p style="font-size: x-large;">
                    you'll get
                </p>
            </div>
            <div class="col-6 text-center">
                <p style="font-size: x-large;">
                    a <strong class="text-success">front</strong> pages pdf
                </p>
                <div id="frontpages-file">

                </div>
            </div>
            <div class="col-6 text-center">
                <p style="font-size: x-large;">
                    and a <strong class="text-success">back</strong> pages pdf
                </p>
                <div id="backpages-file">

                </div>
            </div>
            <div class="col-12 text-center">
                <small class="text-secondary">click any to download</small>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block extra_script %}

<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    $(document).ready(function () {
        getFile();
        $('div#uploaded-file').on('click', 'button#delete-file', handleDelete);
        $('div#uploaded-file').on('click', 'button.do-simplex', doSimplex)
        console.log($('button#delete-file'));
    });
    
    
    function getFile() {
        $.get('/get-filename-id', (data, status) => {
            console.log(data);
            $('div#uploaded-file').html(
                `<div id="${data.file_id}" class="rounded-pill p-2 mb-3 bg-black d-flex flex-column flex-md-row justify-content-around align-items-center">
                    <div class="pb-2">${data.filename}</div>
                    <div>
                        <button class="btn btn-outline-danger border-0 rounded-pill" type="button" id="delete-file">
                            Delete
                            <!-- <i class="bi bi-x-lg"></i> -->
                        </button>
                        <button class="btn btn-success border-0 rounded-pill do-simplex" type="button">
                            Start
                            <!-- <i class="bi bi-check-lg"></i> -->
                        </button>
                    </div>
                  </div>`
                )
        })
        .done( function () {
                $('div.uploader').addClass('d-none');
                
            }
        )
        .fail(function () {

        })

        
    }
    
    function handleDelete(e) {
        console.log($('button#delete-file').parent().parent().attr('id'))
        const itemId = $('button#delete-file').parent().parent().attr('id');
    
        $.ajax({
            url: `/delete-file/${itemId}`,
            method: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            success: function (data) {
                console.log(data);
                $('button#delete-file').parent().parent().addClass('d-none');
                $('div.uploader').removeClass('d-none');
                $('input').attr('disabled', false);
                $('small.file-info').removeClass('text-success');
                $('small.file-info').addClass('text-secondary');
                $('small.file-info').text(data.success);
                $('div#frontpages-file').html('');
                $('div#backpages-file').html('');
                triggerLoad(false);
            }
        })
    }

    function doSimplex(e) {
        e.preventDefault();
        const formdata = $('form.do-simplex').serialize();
        $('input').attr('disabled', true);
        $('button.do-simplex').attr('disabled', true);
        $('button#delete-file').attr('disabled', true);
        triggerLoad(true);
        console.log('do simplex');
        
        $.ajax({
            url: '/simplex',
            method: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            data: formdata,
            error: (data) => {
                console.log(data);
            }
        })
        .done((data) => {
            console.log(data);
            console.log(data.success)
            $('button#delete-file').attr('disabled', false);
            triggerLoad(false);
        
            var frontpages_url = "{% url 'main:download' filename='filename_placeholder' %}".replace('filename_placeholder', data.success.frontpages);
            var backpages_url = "{% url 'main:download' filename='filename_placeholder' %}".replace('filename_placeholder', data.success.backpages);
        
            $('div#frontpages-file').html(
                `
                <a href="${frontpages_url}"
                    class="btn btn-lg btn-outline-success border-0">
                    <i class="bi bi-filetype-pdf" style="font-size: 3em;"></i>
                </a>
                `
            );
            $('div#backpages-file').html(
                `
                <a href="${backpages_url}"
                    class="btn btn-lg btn-outline-success border-0">
                    <i class="bi bi-filetype-pdf" style="font-size: 3em;"></i>
                </a>
                `
            );
        })
        
        .fail((data) => {
            console.log(data);

        })

    }

    function triggerLoad(t) {
        if (t === true) {
            $('div#frontpages-file').append(
                `
                <div class="spinner-border text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                `
            );
            $('div#backpages-file').append(
                `
                <div class="spinner-border text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                `
            );
        } else {
            $('div#frontpages-file').html("");
        }
    }

    $('button.uploader').click((e) => {
        e.preventDefault();
        const file = $('input.uploader')[0].files[0];
        if (!file) {
            $('small.file-info').addClass('text-danger');
            $('small.file-info').text('Please choose a file.');
            return;
        }
        else if (!file.name.endsWith('.pdf') && !file.name.endsWith('.PDF')) {
            $('small.file-info').addClass('text-danger');
            $('small.file-info').text('File not a PDF file. Please choose a PDF file.');
            return;
        }
        else {
            $('small.file-info').removeClass('text-danger');
            $('small.file-info').text("");
        }

        const formData = new FormData();
        formData.append('file', file);

        $.ajax({
            url: '/simplex',
            method: 'POST',
            data: formData,
            dataType: 'json',
            processData: false,
            contentType: false,
            headers: { 'X-CSRFToken': csrftoken },
            success: function (data) {
                console.log(data);
                $('small.file-info').text(data.success);
            },
            error: function (data, status, error) {
                console.log(data);
                $('small.file-info').text(data.error);
            }
        })
        .done(function() {
            $('small.file-info').removeClass('text-danger');
            $('small.file-info').addClass('text-success');

            $('div.uploader').addClass('d-none');
            
        })
        .fail(function () {
            $('small.file-info').addClass('text-danger');
            
        })
        .then(getFile)

    })

</script>

{% endblock %}
